name: nodejs

on:
    push:
        branches:
            - main
        paths:
            - 'docker-nodejs-cicd/**'

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Run deployment commands on EC2
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ubuntu
                key: ${{ secrets.EC2_SSH_KEY }}
                
                script: |
                   cd /home/ubuntu/Devops-practice-docker
                
                   echo "Pulling latest code..."
                   git pull

                   echo "Stopping old container..."
                   docker stop be || true
                   docker rm be || true

                   echo "Building new Docker image..."
                   docker build -t be .

                   echo "Running container..."
                   docker run -d \
                     --name be \
                     -p 8080:8080 \
                     be